/* You can add global styles to this file, and also import other style files */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background:#edf1f4;
    font-size:16px;
    color:#444;
}
ul, li {
    list-style-type:none;
}
#container {
    width:400px;
    padding:0px;
    background:#fefefe;
    margin:30px auto;
    border:1px solid #c4cddb;
    border-top-color:#d3dbde;
    border-bottom-color:#bfc9dc;
    box-shadow:0 1px 1px #ccc;
    border-radius:5px;
    position:relative;
}
h1 {
    margin:0;
    padding:10px 0;
    font-size:24px;
    text-align:center;
    background:#eff4f7;
    border-bottom:1px solid #dde0e7;
    box-shadow:0 -1px 0 #fff inset;
    border-radius:5px 5px 0 0;
    text-shadow:1px 1px 0 #fff;
}
.form-group {
    margin:10px 20px;
    position: relative;
}
input {
    padding:10px 10px;
    border:1px solid #d5d9da;
    border-radius:5px;
    font-size:1em;
    outline:0;
    width: 100%;
}
input:focus {
    border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
}
label {
    color:#555;
    margin-bottom: 5px;
    display: block;
}
button {
    background: #326fa9;
    border:0 none;
    color:#fff;
    font-size:.875em;
    padding:10px 15px;
    width:150px;
    border-radius:20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:disabled{
    pointer-events: none;
    opacity: 0.6;
}

#pswd_info {
    position:absolute;
    top: 50%;
    left: 100%;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    z-index: 1;
    transform: translateY(-50%);
    margin-left: 10px;
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
    font-size: 16px;
}
#pswd_info::before {
    content: '';
    position:absolute;
    right:100%;
    top:50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ddd; 
}
.strength{
    position: relative;
    height: 8px;
    background: #eee;
    border-radius: 3px;
    margin-bottom: 10px;
}
.strength-inner{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 3px;
    transition: all 0.3s linear;
}
.error{
    color: red;
    margin-top: 5px;
}