<div [formGroup]="passwordForm">
  <div class="form-group">
    <label *ngIf="showLabel">{{labelOneValue}}</label>
    <input formControlName="password" type="password" [placeholder]="labelOneValue" (keyup)="checkPasswordStrength($event.target.value)"
     (focus)="toggleInfo()" (blur)="toggleInfo()" />
    <div id="pswd_info" *ngIf="showInfo">
      <div class="strength">
        <div class="strength-inner" [style.width]="total + '%'" [style.background]="bgColor"></div>
      </div>
      <h4>Password must meet the following requirements:</h4>
      <p>At least <strong>one letter, one capital letter, one number, one special character, 8 characters</strong></p>
    </div>
    <div *ngIf="passwordForm.controls.password.touched">
      <div *ngIf="passwordForm.controls.password.errors?.required" class="error">Password is required</div>
      <div *ngIf="passwordForm.controls.password.errors?.pattern" class="error">Password contain at least one letter, 
        one capital letter, one number, one special character, 8 characters</div>
    </div>
  </div>
  <div class="form-group" *ngIf="passwordMatch">
    <label *ngIf="showLabel">{{labelTwoValue}}</label>
    <input formControlName="confirmPassword" type="password" [placeholder]="labelTwoValue" />
    <div
      *ngIf="passwordForm.controls.confirmPassword.touched && passwordForm.controls.confirmPassword.errors?.MatchPassword"
      class="error">Passwords do not match</div>
  </div>
</div>