<div class="container">
<h3 class="text-center">Date Range Picker</h3><br>
<div class="col-md-5" style="margin-left: 362px;">
  <div class="row">
  <div id="reportrange"  class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret pull-right" ></b>
  </div>
</div>
</div>
<div class="row">
  <a href="/#/main"><button style="margin-top: 430px;" type="button" class="btn btn-default pull-right btn-md">Back</button></a>
</div>
</div>
   
  